services:
  front:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: controle-financeiro-front
    restart: unless-stopped
    ports:
      - "80:80"
    networks:
      - app-network

volumes:
  postgres_data:
    driver: local

networks:
  app-network:
    driver: bridge


